@import url('https://fonts.googleapis.com/css?family=Poppins:wght@200;400&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: rgb(161, 100, 223);
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
}

h2.header {
  color: white;
  letter-spacing: 5px;
  transition: letter-spacing 0.8s ease;
  margin: 0;
  font-size: 1.3rem;
}

.flex-row {
  flex-direction: row;
  flex-wrap: wrap;
}

h2.header:hover {
  letter-spacing: 10px;
}

.btn {
  background-color: rebeccapurple;
  border-radius: 5px;
  border: none;
  color: white;
  margin: 1rem;
  padding: 1.5rem 3rem;
  font-size: 1.2rem;
  font-family: inherit;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.9;
}

.btn:focus {
  outline: none;
}
